@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Notable|Playfair+Display&display=swap');

:root{
	/*FONTS*/
	--bigF: 'Notable', sans-serif;
	--secondF: 'Montserrat', sans-serif;
	--thirdF: 'Playfair Display', serif;
	/*COLORS*/
	--red: #EF5455;
	--yellow: #FAD744;
	--blue: #2B3252;
}

body{
	margin:0;
	padding:0;
}

.row{
	margin:0;
	padding:0;
}
/*------- NAV STUFF ------ */
nav .col-md-12{
	background-color: var(--red);
}
nav ul{
	text-align: center;
	margin-left: 40px;
	margin-right:40px;
	margin-bottom:0;
}
nav ul li{
	height:70px;
	line-height: 65px;
}
nav ul li:nth-child(1){
	color:var(--blue);
	float: left;
	font-size: 155%;
	transition: .5s;
}
nav ul li:nth-child(2){
	font-family:var(--bigF);
	text-align:center;
	font-size: 140%;
}
#shopAndBrowse li{
	font-family:var(--secondF);
	text-transform: uppercase;
	font-size:120%;
	color:var(--yellow);
}
#shopAndBrowse li:nth-child(2){
	font-size:140%;
	padding-left:20px;
}
#browseLink, #cartLink, #homeLink{
	text-decoration: none;
	color:var(--yellow);
	transition: .5s;
}
#shopAndBrowse li:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .5;
}
nav ul li:nth-child(1):hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .5;
}
/*BRACELETS*/
#braceletRow img, #necklaceRow img{
	width:100%;
}
#braceletRow h1, #necklaceRow h1{
	margin:0 auto;
	font-family:var(--bigF);
	margin-top:15px;
	margin-bottom:20px;
	border-bottom:solid var(--blue);
	border-width:10px;
	color:var(--blue);
	padding-bottom:10px;
	padding-left:50px;
	padding-right: 50px;
}
#braceletRow h2, #necklaceRow h2{
	font-family:var(--secondF);
	text-transform: uppercase;
	margin-top:10px;
	margin-left:1%;
	font-size:130%;
	margin-bottom:0px;
}
#braceletRow p, #necklaceRow p{
	font-size:100%;
	font-family:var(--thirdF);
	margin-left:2%;
	color:var(--red);
	padding-top:5px;
	padding-bottom:-5px;
}
#braceletRow button, #necklaceRow button{
	font-family:var(--thirdF);
	margin-bottom:10px;
	margin-top:-10px;
	margin-left:1%;
	background-color:var(--red);
	color:var(--yellow);
	outline:none;
	border:none;
	padding:5px 10px 5px 10px;
}
#braceletRow button:hover, #necklaceRow button:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}

/* COLORS */
.colorButton{
	border-radius:180px;
	width:20px;
	background-color:none;
	border:solid black 1px;
	float:right;
	height: 20px;
	margin-top:20px;
	margin-right:20px;
	margin-left:5px;
}
.colorButton:hover{
	cursor: pointer;
}
.colorPicker{
	border:solid 1px;
	float:right;
	margin-right:0px;
	padding:5px 20px 10px 20px;
	margin-top:40px;
	border-radius:0 10px 0px 0px;
	display:none;
}
.inColorPicker{
	border-radius:180px;
	width:20px;
	height:20px;
	background-color:blue;
	margin-top:10px;
	margin-left:5px;
}
.inColorPicker:hover{
	cursor:pointer;
}

