@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Notable|Playfair+Display&display=swap');

:root{
	/*FONTS*/
	--bigF: 'Notable', sans-serif;
	--secondF: 'Montserrat', sans-serif;
	--thirdF: 'Playfair Display', serif;
	/*COLORS*/
	--red: #EF5455;
	--yellow: #FAD744;
	--blue: #2B3252;
}

body{
	margin:0;
	padding:0;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-49%, -49%);
}

.row{
	margin:0;
	padding:0;
}
/*------- NAV STUFF ------ */
nav .col-md-12{
	background-color: var(--red);
	padding:5px;
	/*position:fixed;*/
	z-index:1000;
	top:0;
	left:0;
}
nav ul{
	text-align: center;
	margin-left: 40px;
	margin-right:40px;
	margin-bottom:0;
}
nav ul li{
	height:70px;
	line-height: 70px;
}
nav ul li:nth-child(1){
	color:var(--blue);
	float: left;
	font-size: 160%;
	transition: .5s;
}
nav ul li:nth-child(2){
	font-family:var(--bigF);
	text-align:center;
	font-size: 150%;
}
#shopAndBrowse li{
	font-family:var(--secondF);
	text-transform: uppercase;
	font-size:120%;
	color:var(--yellow);
	padding-left:10px;
}
#shopAndBrowse li:nth-child(3){
	font-size:140%;
}
#browseLink, #cartLink, #homeLink, #contactUs{
	text-decoration: none;
	color:var(--yellow);
	transition: .5s;
}
#shopAndBrowse li:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .5;
}
nav ul li:nth-child(1):hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .5;
}
/*BRACELETS*/
#braceletRow img, #necklaceRow img{
	width:100%;
	border:1px solid;
}
#necklaceh1, #braceleth1{
	margin:0 auto;
	font-family:var(--bigF);
	margin-top:15px;
	margin-bottom:20px;
	border-bottom:solid var(--blue);
	border-width:10px;
	color:var(--blue);
	padding-bottom:10px;
	padding-left:50px;
	z-index: 0;
	padding-right: 50px;
}
#braceletRow h2, #necklaceRow h2{
	font-family:var(--secondF);
	text-transform: uppercase;
	margin-top:10px;
	margin-left:1%;
	font-size:130%;
	margin-bottom:0px;
}
#braceletRow p, #necklaceRow p{
	font-size:100%;
	font-family:var(--thirdF);
	margin-left:2%;
	color:var(--red);
	padding-top:5px;
	padding-bottom:-5px;
}
#braceletRow button, #necklaceRow button{
	font-family:var(--thirdF);
	margin-bottom:10px;
	margin-top:-10px;
	margin-left:1%;
	background-color:var(--red);
	color:var(--yellow);
	outline:none;
	border:none;
	padding:5px 10px 5px 10px;
}
#braceletRow button:hover, #necklaceRow button:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}

/* COLORS */
.colorButton{
	border-radius:180px;
	width:20px;
	border:solid black 1px;
	float:right;
	height: 20px;
	margin-top:20px;
	margin-right:20px;
	margin-left:5px;
}
.colorButton:hover{
	cursor: pointer;
}
.colorPicker{
	border:solid 1px;
	float:right;
	margin-right:0px;
	padding:5px 20px 10px 20px;
	margin-top:40px;
	border-radius:0 10px 0px 0px;
	display:none;
}
.inColorPicker{
	border-radius:180px;
	display:none;
	width:20px;
	height:20px;
	background-color:blue;
	margin-top:10px;
	margin-left:5px;
	border:solid 1px;
}
.inColorPicker:hover{
	cursor:pointer;
}
#slideshow{
	width:70%;
	margin:20px auto;
	position: relative;
}
#slideshow h3{
	position: absolute;
	top:60px;
	left:60px;
	font-family:var(--bigF);
	margin-right:70%;
}
#slideshow button{
	position: absolute;
	bottom:60px;
	left:60px;
	width:30%;
	font-family:var(--secondF);
	background-color:var(--red);
	color:var(--yellow);
	outline:none;
	border:hidden;
	border-radius: 5px;
	padding:15px 0px 15px 0px;
	transition: .5s;
}
#slideshow button:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .8;
	transition: .5s;
}
#slideshow img{
	width:100%;
	height:500px;
}
#slideshow i{
	position: absolute;
	font-size: 180%;
	color:var(--red);
	transition: .5s;
}
#slideshow i:nth-child(4){
	float:left;
	top:50%;
	left:10px;
}
#slideshow i:nth-child(3){
	float:right;
	top:50%;
	right:10px;
}
#slideshow i:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}
#p1,#p2,#p3{
	display: none;
}
footer h2{
	font-family:var(--bigF);
	font-size:170%;
}
footer .row{
	background-color:var(--red);
	margin:0;
	padding:25px;
	width:100%;
}
footer .col-lg-6 h2{
	font-family: var(--bigF);
	text-align: center;
}
footer img{
	width:30%;
	margin-top:50px;
	margin-left:10px;
}
#footerUl a{
	text-decoration: none;
	color:var(--yellow);
	font-family:var(--secondF);
}
#footerUl a:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}
#footerUl{
	text-align: center;
	margin-top:15px;
}
#myCredit{
	background-color:white;
	padding:20px;
	margin:0;
}
#myCredit p {
	text-align:center;
	margin:0;
	padding:0;
}
#contactModal{
	display: none;
	background-color:white;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	padding:60px;
	z-index:1000;
	background-color:var(--red);
	width:70%;
}
#contactForm{
	width:70%;
	display:block;
	margin:0 auto;
}
#contactModal input{
	margin-bottom:20px;
	font-family:var(--thirdF);

}
#contactInputWrap{
	margin:0 auto;
}
#contactModal textarea{
	margin-bottom: -5px;
	width:60%;
	height:150px;
}
#contactModal h2{
	text-align:center;
	font-family:var(--bigF);
	margin-bottom:20px;
}
#contactModal label{
	font-family:var(--secondF);
}
#contactModal input[type=submit]{
	background-color:var(--blue);
	color:var(--yellow);
	font-size:120%;
	border:solid var(--blue);
	font-family:var(--secondF);
}

#contactModal input[type=submit]:hover{
	opacity:.8;
	transition: .5s;
	cursor: pointer;
}
#contactClose{
	float:right;
	font-size:200%;
	padding:10px;
}
#contactClose:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}
#contactSubMessage{
	display: none;
}
#mobileNavButton{
	display: none;
	position: absolute;
	top:25px;
	font-size:200%;
	right:30px;
	color:var(--yellow);
}
#mobileNavButton:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}
#mobileNavPopout{
	position: absolute;
	right:-200px;
	top:100px;
	background-color:var(--red);
	font-family:var(--secondF);
	padding:20px 20px 10px 20px;
	z-index: 1000;
	border-radius:10px 0px 0px 10px;
	display:none;
}
#mobileNavPopout a{
	text-align: center;
	text-decoration: none;
}
#mobileNavPopout li{
	color:var(--yellow);
	padding:2px;
	width:100%;
	font-size:110%;
}
#mobileNavPopout li:hover{
	color:var(--white);
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}
#cartInfo{
	width:90%;
	margin-right:auto;
	margin-left:auto;
}
#cartInfo table{
	text-align:center;
}
#cartHeader{
	text-align:center;
	padding:10px;
	font-family:var(--bigF);
	text-transform: uppercase;
}
#continueShop{
	display: block;
	text-align:center;
	margin-left:-13px;
	text-decoration: none;
	color:var(--red);
	margin-bottom:50px;
}
#continueShop i{
	padding:5px;
	color:var(--red);
	font-size:110%;
	transition: .5s;
}
#continueShop:hover{
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}
#continueShop span{
	font-size:130%;
	font-family:var(--secondF);
}
#cartInfo th{
	font-family:var(--secondF);
	color:var(--red);
}
#cartInfo td{
	font-family:var(--thirdF);
	padding:10px;
}
#cartInfo img{
	width:100px;
	height:100px;
}
#cartInfo tr td:nth-child(4) input{
	font-size:120%;
	color:var(--red);
	text-align:center;
	width:20%;
}
#discountGroup{
	width:20%;
	margin-left:10%;
}
#discountGroup input{
	text-align:center;
	color:var(--red);
	outline:none;
}
#discountGroup button:hover{
	color:var(--yellow);
	background-color:var(--red);
	border:solid var(--red) 1px;
}
#discountText{
	font-family:var(--secondF);
	font-size:120%;
	margin-left:10%;
	margin-top:30px;
}
#discountGroup button{
	font-family:var(--thirdF);
	font-size:95%;
}

#continueToCheckout{
	margin-left:80%;
	padding:15px 20px 15px 20px;
	font-family:var(--secondF);
	border-radius:5px;
	background-color:var(--red);
	color:var(--yellow);
	outline:none;
	border:none;
	transition: .5s;
}
#continueToCheckout:hover{
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}

#discountGroup input:focus{
	outline:none;
}
#otherThingsHeader{
	font-family:var(--bigF);
	text-align: center;
	padding:15px;
}
#otherThings img{
	width:inherit;
	height:inherit;
}
#otherThings .col-lg-3 h2{
	font-family:var(--secondF);
	margin-top:15px;
	margin-left:10px;
	font-size:150%;
}
#otherThings .col-lg-3 p{
	font-family:var(--thirdF);
	font-size:120%;
	color:var(--red);
	margin-left: 10px;
}
#otherThings .col-lg-3 button{
	font-family:var(--secondF);
	background-color:var(--red);
	color:var(--yellow);
	outline:none;
	border:hidden;
	border-radius: 5px;
	padding:15px 20px 15px 20px;
	transition: .5s;
	margin-left:10px;
}
#otherThings .col-lg-3 button:hover{
	transition: .5s;
	cursor: pointer;
	opacity: .8;
}
.removeItem{
	transition: .5s;
}
.removeItem:hover{
	transition: .5s;
	cursor: pointer;
	opacity: .8;
	font-size: 120%;
}
@media only screen and (max-width: 650px) {
	#shopAndBrowse{
		display: none;
	}
	#mobileNavButton{
		display: block;
	}
}
@media only screen and (max-width: 991px) {
	footer img{
		display: none;
	}
	#slideshow img{
		height:450px;
	}

}
@media only screen and (max-width: 1000px){
	#slideshow h3{
		top:20px;
		font-size:175%;
		margin-right:60%;
		left:30px;
	}
	#contactModal textarea{
		width:70%;
	}
}
@media only screen and (max-width: 670px){
	#slideshow img{
		height:375px;
	}
	#slideshow h3{
		font-size:130%;
	}
	#slideshow button{
		bottom:30px;
		left:35px;
	}
	#contactForm{
		width:100%;
	}
}
@media only screen and (max-width: 415px){
	#slideshow h3{
		margin-right:30%;
		font-size:110%;
	}
	#contactModal h2{
		font-size:150%;
	}
	#contactForm input{
		width:100%;
	}
	#contactModal{
		padding:30px;
	}

}
@media only screen and (max-width: 550px){
	#slideshow img{
		height:275px;
	}
	#slideshow{
		width:90%;
	}
	#slideshow h3{
		margin-right:50%;
	}
	#braceleth1, #necklaceh1{
		font-size:200%;
	}
	nav ul{
		margin-left:15px;
		margin-right:50px;
	}
	nav ul li:nth-child(1){
		font-size:150%;
	}
	#mobileNavButton{
		right:15px;
	}
	#slideshow button{
		font-size:75%;
		bottom:15px;
		left:15px;
	}
	#contactModal{
		width:90%;
	}
}
@media only screen and (max-width: 305px){
	#braceleth1, #necklaceh1{
		font-size:150%;
	}	
}
@media only screen and (min-width:1500px){
	#slideshow img{
		height:600px;	
	}
	#slideshow{
		width:50%;
	}
}
